# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
    arduino_key: 2e83e923735e4aa938aed49175b7a326
    secret_key_base: e5c163c9cebcab5dfd9ca90e0d6131c4f25339386ad52f5821fd6281f1d2af47350f3af633968504e0a12806eb23449922724becb532d8309db5aecb3a65e1eb

test:
    arduino_key: 2e83e923735e4aa938aed49175b7a326
    secret_key_base: b8d8c18d5203f724632e407d67367577a3d4af586a46c0d9ef9a5a3c241dc6c4bbdf0dc30d3e13dc7f6523631afd1a8ff750b8d34533daaf408c14fd43c80784

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
    arduino_key: <%= ENV["ARDUINO_KEY"] %>
    secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
